bin/Debug/PerformanceTips.vshost.exe.config
obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/Debug/PerformanceTips.csproj.FileListAbsolute.txt
bin/Debug/PerformanceTips.exe.config